@tailwind base;
@tailwind components;
@tailwind utilities;

.links {
    color: #ededed;
}
.links:hover {
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    opacity: 1;
}

.links:after {
    position: absolute;
    content: "";
    background-color: rgb(161 161 170);
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: center;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.links:hover::after {
    scale: 1
}

.iconos{
    font-size: 1.25rem;
    filter: grayscale(0);
    width: 2rem;
    height: 2rem;
}

.iconos:hover{
    filter: grayscale(60%);
}

.iconos-card{
    font-size: 1.25rem;
}
